<a href="https://colab.research.google.com/github/kimhj010502/datamentoring/blob/main/%EB%8D%B0%EC%9D%B4%ED%84%B0_%EC%A0%84%EC%B2%98%EB%A6%AC.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
import pandas as pd

## 서울시 어린이 교통사고 데이터 로딩 및 1차 전처리

In [3]:
accident = pd.read_csv('/content/drive/MyDrive/거북R/데멘토/Data/accident.csv')

In [4]:
len(accident)

1801

In [5]:
accident.head()

,사고번호,사고일시,연,월,일,시,요일,구,동,사고내용,...,노면상태,기상상태,도로형태,도로상세,가해운전자 성별,가해운전자 연령,가해운전자 상해정도,피해운전자 성별,피해운전자 연령,피해운전자 상해정도
0,2.017010e+15,2017년 1월 4일 19시,2017,1,4,19,수요일,관악구,신림동,경상사고,...,포장 - 건조,맑음,교차로,교차로부근,남,57,상해없음,남,8,경상
1,2.017012e+15,2017년 1월 18일 13시,2017,1,18,13,수요일,관악구,신림동,중상사고,...,포장 - 건조,맑음,교차로,교차로안,남,59,상해없음,남,8,중상
2,2.017023e+15,2017년 2월 27일 17시,2017,2,27,17,월요일,관악구,신림동,경상사고,...,포장 - 건조,맑음,교차로,교차로안,남,45,상해없음,여,62,경상
3,2.017030e+15,2017년 3월 3일 13시,2017,3,3,13,금요일,관악구,봉천동,경상사고,...,포장 - 건조,맑음,교차로,교차로횡단보도내,여,41,상해없음,남,7,경상
4,2.017042e+15,2017년 4월 17일 16시,2017,4,17,16,월요일,관악구,신림동,경상사고,...,포장 - 젖음/습기,흐림,교차로,교차로횡단보도내,남,59,부상신고,남,6,경상

In [6]:
accident.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1801 entries, 0 to 1800
Data columns (total 26 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   사고번호        1801 non-null   float64
 1   사고일시        1801 non-null   object
 2   연           1801 non-null   int64
 3   월           1801 non-null   int64
 4   일           1801 non-null   int64
 5   시           1801 non-null   int64
 6   요일          1801 non-null   object
 7   구           1801 non-null   object
 8   동           1801 non-null   object
 9   사고내용        1801 non-null   object
 10  사망자수        1801 non-null   int64
 11  중상자수        1801 non-null   int64
 12  경상자수        1801 non-null   int64
 13  부상신고자수      1801 non-null   int64
 14  사고유형        1801 non-null   object
 15  법규위반        1801 non-null   object
 16  노면상태        1801 non-null   object
 17  기상상태        1801 non-null   object
 18  도로형태        1801 non-null   object
 19  도로상세        1801 non-null   object
 20  가해운전자 성별    1801 non-null   object
 21  가해운전자 연령    1801 non-null   object
 22  가해운전자 상해정도  1801 non-null   object
 23  피해운전자 성별    1801 non-null   object
 24  피해운전자 연령    1801 non-null   object
 25  피해운전자 상해정도  1801 non-null   object
dtypes: float64(1), int64(8), object(17)
memory usage: 366.0+ KB

In [7]:
#필요없는 값 삭제
index1 = accident[(accident['피해운전자 연령']=='미분류') | (accident['피해운전자 연령']=='90  이상')].index
accident.drop(index1,inplace=True)

In [8]:
#가해운전자 연령 미분류를 0살로 바꾸기
accident['가해운전자 연령'].replace('미분류',0,inplace=True)

In [9]:
#연령 object형에서 int형으로 형변환
accident = accident.astype({'피해운전자 연령':'int','가해운전자 연령':'int'})

In [10]:
index2 = accident[accident['피해운전자 연령']>12].index
accident.drop(index2,inplace=True)

In [11]:
#가해운전자, 피해운전자 상해정도 라벨인코딩
# 부상신고사고 - 1, 경상사고 - 2, 중상사고 - 3, 사망사고 - 4
accident['사고내용'].replace('부상신고사고',1,inplace=True)
accident['사고내용'].replace('경상사고',2,inplace=True)
accident['사고내용'].replace('중상사고',3,inplace=True)
accident['사고내용'].replace('사망사고',4,inplace=True)

In [12]:
#삭제된 데이터를 제외하고 index 초기화
accident.reset_index(inplace=True)

In [13]:
len(accident)

1670

In [14]:
accident.head()

,index,사고번호,사고일시,연,월,일,시,요일,구,동,...,노면상태,기상상태,도로형태,도로상세,가해운전자 성별,가해운전자 연령,가해운전자 상해정도,피해운전자 성별,피해운전자 연령,피해운전자 상해정도
0,0,2.017010e+15,2017년 1월 4일 19시,2017,1,4,19,수요일,관악구,신림동,...,포장 - 건조,맑음,교차로,교차로부근,남,57,상해없음,남,8,경상
1,1,2.017012e+15,2017년 1월 18일 13시,2017,1,18,13,수요일,관악구,신림동,...,포장 - 건조,맑음,교차로,교차로안,남,59,상해없음,남,8,중상
2,3,2.017030e+15,2017년 3월 3일 13시,2017,3,3,13,금요일,관악구,봉천동,...,포장 - 건조,맑음,교차로,교차로횡단보도내,여,41,상해없음,남,7,경상
3,4,2.017042e+15,2017년 4월 17일 16시,2017,4,17,16,월요일,관악구,신림동,...,포장 - 젖음/습기,흐림,교차로,교차로횡단보도내,남,59,부상신고,남,6,경상
4,5,2.017042e+15,2017년 4월 17일 19시,2017,4,17,19,월요일,관악구,신림동,...,포장 - 건조,맑음,교차로,교차로안,남,52,상해없음,남,9,부상신고

In [15]:
accident.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1670 entries, 0 to 1669
Data columns (total 27 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   index       1670 non-null   int64
 1   사고번호        1670 non-null   float64
 2   사고일시        1670 non-null   object
 3   연           1670 non-null   int64
 4   월           1670 non-null   int64
 5   일           1670 non-null   int64
 6   시           1670 non-null   int64
 7   요일          1670 non-null   object
 8   구           1670 non-null   object
 9   동           1670 non-null   object
 10  사고내용        1670 non-null   int64
 11  사망자수        1670 non-null   int64
 12  중상자수        1670 non-null   int64
 13  경상자수        1670 non-null   int64
 14  부상신고자수      1670 non-null   int64
 15  사고유형        1670 non-null   object
 16  법규위반        1670 non-null   object
 17  노면상태        1670 non-null   object
 18  기상상태        1670 non-null   object
 19  도로형태        1670 non-null   object
 20  도로상세        1670 non-null   object
 21  가해운전자 성별    1670 non-null   object
 22  가해운전자 연령    1670 non-null   int64
 23  가해운전자 상해정도  1670 non-null   object
 24  피해운전자 성별    1670 non-null   object
 25  피해운전자 연령    1670 non-null   int64
 26  피해운전자 상해정도  1670 non-null   object
dtypes: float64(1), int64(12), object(14)
memory usage: 352.4+ KB

In [16]:
accident.to_csv('accident_delete.csv')

## 어린이 보호구역 내 교통사고 데이터 로딩 및 전처리

In [18]:
#어린이 보호구역 내 사고 데이터 불러오기
child = pd.read_csv('/content/drive/MyDrive/거북R/데멘토/Data/accident_child.csv')

In [19]:
#피해운전자 연령 칼럼에서 '세' 빼기
for i in range(len(child)):
  child['피해운전자 연령'][i] = child['피해운전자 연령'][i][0:-1]

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [20]:
#object형 데이터를 int형으로 형 변환
child['피해운전자 연령'] = child['피해운전자 연령'].astype('int')

In [21]:
child['피해운전자 연령']

0      10
1      12
2       7
3       7
4       7
       ..
222    11
223    39
224     8
225     9
226     8
Name: 피해운전자 연령, Length: 227, dtype: int64

In [22]:
#피해운전자 연령이 12살 초과인 데이터는 삭제
index3 = child[child['피해운전자 연령']>12].index
child.drop(index3,inplace=True)

In [23]:
#삭제된 데이터를 제외하고 index 초기화
child.reset_index(inplace=True)

In [24]:
#최종 데이터 개수 확인
len(child)

222

In [25]:
child.head()

,index,사고번호,사고일시,요일,시군구,사고내용,사망자수,중상자수,경상자수,부상신고자수,...,기상상태,도로형태,가해운전자 차종,가해운전자 성별,가해운전자 연령,가해운전자 상해정도,피해운전자 차종,피해운전자 성별,피해운전자 연령,피해운전자 상해정도
0,0,2017012500100439,2017년 1월 25일 16시,수요일,서울특별시 성북구 삼선동3가,경상사고,0,0,1,0,...,맑음,단일로 - 기타,승용,여,38세,상해없음,보행자,여,10,경상
1,1,2017012600100138,2017년 1월 26일 08시,목요일,서울특별시 서대문구 남가좌동,부상신고사고,0,0,0,1,...,맑음,단일로 - 기타,승용,남,69세,상해없음,보행자,여,12,부상신고
2,2,2017020900100280,2017년 2월 9일 15시,목요일,서울특별시 은평구 진관동,중상사고,0,1,0,0,...,맑음,단일로 - 기타,승용,여,54세,상해없음,보행자,남,7,중상
3,3,2017020900100395,2017년 2월 9일 19시,목요일,서울특별시 강남구 청담동,중상사고,0,1,0,0,...,맑음,단일로 - 기타,승합,남,35세,상해없음,보행자,남,7,중상
4,4,2017030200100230,2017년 3월 2일 13시,목요일,서울특별시 구로구 항동,중상사고,0,1,0,0,...,맑음,단일로 - 기타,승용,남,70세,상해없음,보행자,남,7,중상

In [26]:
#csv로 불러와져서 'index' 칼럼이 추가되어 있으므로 삭제
child.drop('index', axis=1, inplace=True)

In [27]:
child.head()

,사고번호,사고일시,요일,시군구,사고내용,사망자수,중상자수,경상자수,부상신고자수,사고유형,...,기상상태,도로형태,가해운전자 차종,가해운전자 성별,가해운전자 연령,가해운전자 상해정도,피해운전자 차종,피해운전자 성별,피해운전자 연령,피해운전자 상해정도
0,2017012500100439,2017년 1월 25일 16시,수요일,서울특별시 성북구 삼선동3가,경상사고,0,0,1,0,차대사람 - 횡단중,...,맑음,단일로 - 기타,승용,여,38세,상해없음,보행자,여,10,경상
1,2017012600100138,2017년 1월 26일 08시,목요일,서울특별시 서대문구 남가좌동,부상신고사고,0,0,0,1,차대사람 - 횡단중,...,맑음,단일로 - 기타,승용,남,69세,상해없음,보행자,여,12,부상신고
2,2017020900100280,2017년 2월 9일 15시,목요일,서울특별시 은평구 진관동,중상사고,0,1,0,0,차대사람 - 횡단중,...,맑음,단일로 - 기타,승용,여,54세,상해없음,보행자,남,7,중상
3,2017020900100395,2017년 2월 9일 19시,목요일,서울특별시 강남구 청담동,중상사고,0,1,0,0,차대사람 - 횡단중,...,맑음,단일로 - 기타,승합,남,35세,상해없음,보행자,남,7,중상
4,2017030200100230,2017년 3월 2일 13시,목요일,서울특별시 구로구 항동,중상사고,0,1,0,0,차대사람 - 횡단중,...,맑음,단일로 - 기타,승용,남,70세,상해없음,보행자,남,7,중상

In [28]:
child.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 222 entries, 0 to 221
Data columns (total 22 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   사고번호        222 non-null    int64
 1   사고일시        222 non-null    object
 2   요일          222 non-null    object
 3   시군구         222 non-null    object
 4   사고내용        222 non-null    object
 5   사망자수        222 non-null    int64
 6   중상자수        222 non-null    int64
 7   경상자수        222 non-null    int64
 8   부상신고자수      222 non-null    int64
 9   사고유형        222 non-null    object
 10  법규위반        222 non-null    object
 11  노면상태        222 non-null    object
 12  기상상태        222 non-null    object
 13  도로형태        222 non-null    object
 14  가해운전자 차종    222 non-null    object
 15  가해운전자 성별    222 non-null    object
 16  가해운전자 연령    222 non-null    object
 17  가해운전자 상해정도  222 non-null    object
 18  피해운전자 차종    222 non-null    object
 19  피해운전자 성별    222 non-null    object
 20  피해운전자 연령    222 non-null    int64
 21  피해운전자 상해정도  222 non-null    object
dtypes: int64(6), object(16)
memory usage: 38.3+ KB

In [29]:
#전처리 끝낸 최종 어린이 보호구역 내 교통사고 데이터 txt 파일로 저장
child.to_csv('accident_child.txt',index=False)

## 서울시 어린이 교통사고 데이터 2차 전처리 - accident['어린이 보호구역'] 칼럼 생성

- 원래는 TAAS에서 어린이 보호구역 내 교통사고 데이터를 다운받아서 우리가 가지고 있는 accident 데이터(어린이 교통사고 데이터)의 사고번호와 어린이 보호구역 내 교통사고 데이터의 사고번호를 비교하여 accident 데이터 중에 어린이 보호구역 내 교통사고는 ‘어린이 보호구역’ 칼럼이 1, 어린이 보호구역 외 교통사고는 0이 되도록 하려고 했음

In [30]:
#accident 데이터에 '어린이 보호구역' 칼럼 생성 후 0으로 초기화
accident['어린이 보호구역'] = 0

#이중 for문으로 accident 데이터의 사고번호와 child 데이터의 사고번호를 비교하면서
#같다면(accident의 사고가 어린이 보호구역 내 교통사고라면) 1로 값 바꾸기
for i in range(len(accident)):
	for j in range(len(child)):
		if ( (accident['사고번호'][i] == str(child['사고번호'][j])) | (accident['사고번호'][i] == int(child['사고번호'][j])) ):
				accident['어린이 보호구역'][i] = 1
				break

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if __name__ == '__main__':

In [31]:
#어린이 보호구역 칼럼 분포 확인
#어린이 보호구역 내 사고가 222건이었으니 accident['어린이 보호구역']이 1인 데이터가 222개여야 함
accident['어린이 보호구역'].value_counts()

0    1507
1     163
Name: 어린이 보호구역, dtype: int64

- 근데 자꾸 accident[’어린이 보호구역’]이 1인 데이터가 222개가 안나옴
  
- 문제점을 찾아보기 위해서 다시 데이터를 살펴보니, 행정구역별 데이터를 하나로 합치는 과정에서 직접 엑셀에서 동시에 병합했는데 많은 데이터가 잘못 복사된 것을 확인함
  
- 프로그램을 사용하여 데이터를 다시 병합하기로 결정함

## 다시 accident 데이터 새로 생성

- 위도, 경도 입력을 완료한 행정구역별 어린이 교통사고 데이터를 하나의 파일로 병합하여 분석에 사용할 accident 데이터 생성  
  
- 데이터 병합 - 엑셀머지 XLMerge 프로그램 이용(https://xlworks.net/xlmerge-excel-file-merge/)
  
  
- 병합한 데이터를 1차 전처리 방법대로 돌렸는데 피해 운전자 연령이 int로 형변환이 안됨 → 어제랑 같은 코드인데 왜 안돌아가지? → ‘90 이상’으로 입력된 값이 ‘90’과 ‘이상’ 사이에 띄어쓰기가 2칸임을 확인함
  
- 그래서 다시 제대로 ‘90  이상’을 제거하고 새로 만든 accident 데이터로 위의 코드를 다시 돌려봤는데도 accident[’어린이 보호구역’]이 1인 데이터가 222개가 아니었음.
  
  
- 다시 데이터를 보니까 사고번호의 앞 8자리는 원래 사고연월일인데 사고일시랑 맞지 않는 것을 확인함 → 어느 데이터에서 잘못된건지 확인하기 위해 아래 코드로 확인해봄

In [118]:
#사고번호에서 앞 4자리, 2자리, 2자리를 슬라이싱해 각각 사고연, 사고월, 사고일로 저장
accident['사고번호'] = accident['사고번호'].astype('str')
accident['사고연'] = 0
accident['사고월'] = 0
accident['사고일'] = 0

for i in range(len(accident)):
  accident['사고연'][i] = accident['사고번호'][i][0:4]
  accident['사고월'][i] = accident['사고번호'][i][4:6]
  accident['사고일'][i] = accident['사고번호'][i][6:8]

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if __name__ == '__main__':
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # Remove the CWD from sys.path while we load stuff.

In [119]:
#기존에 만들어 놓은 연, 월, 일과 비교하기 위해 int형으로 형변환
accident = accident.astype({'사고연':'int','사고월':'int','사고일':'int'})

In [120]:
#같은지의 여부를 확인하기 위한 연도확인, 월확인, 일확인 칼럼 생성 후 0으로 초기화
accident['연도확인'] = 0
accident['월확인'] = 0
accident['일확인'] = 0

#반복문을 이용해서 같다면 확인 칼럼의 값을 1로 바꿔줌
for i in range(len(accident)):
  if accident['사고연'][i] == accident['연'][i]:
    accident['연도확인'][i] = 1

for i in range(len(accident)):
  if accident['사고월'][i] == accident['월'][i]:
    accident['월확인'][i] = 1

for i in range(len(accident)):
  if accident['사고일'][i] == accident['일'][i]:
    accident['일확인'][i] = 1

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if __name__ == '__main__':
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  del sys.path[0]
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [121]:
#연도, 월, 일확인 칼럼의 분포 확인
accident['연도확인'].value_counts()

1    1670
Name: 연도확인, dtype: int64

In [122]:
accident['월확인'].value_counts()

1    1670
Name: 월확인, dtype: int64

In [123]:
accident['일확인'].value_counts()

1    1670
Name: 일확인, dtype: int64

- 왜 사고번호랑 사고일시랑 다른 데이터가 존재하는거지?? 싶어서 데이터를 보니 강서구의 사고번호가 잘못 들어가 있었음
  
- 그래서 강서구 사고번호만 다시 넣었는데 전처리하기 전의 사고번호를 넣어서 그 뒤의 행정구역의 사고번호도 강서구의 사고번호로 덮였었음 → 확인하고 잘못 들어간 데이터 다시 고쳐 넣음

-----

- 이제 됐겠지 싶어서 accident[’어린이 보호구역’] 칼럼을 만드는 코드를 다시 진행함 (근데도 222개가 안나옴)
  
- 다시 데이터를 살펴봤는데 구글 스프레드시트(엑셀)에서 사고번호를 크기가 큰 숫자로 인식하여 지수형태로 바꿔놓고 그걸 파이썬에서 int로 변환하는 과정에서 맨 뒷자리가 다 0으로 변해버린 거였음
  
- 그래서 이거 csv로 하면 안된다고 판단함 → txt 파일을 사용하면 뒷자리가 날라가지 않는 것을 보고 그럼 txt 파일로 사용하되 사고번호를 다시 파이썬에서 붙여넣기로 결정함

------

- 그 전에, 행정구역별로 새로 데이터를 다운받아서 피해운전자 연령이 13세 이상이거나 미분류인 데이터를 엑셀에서 직접 삭제하기로 함
  
- 위의 조건대로 직접 삭제하고 난 행정구역별 데이터의 개수와 기존 accident 데이터의 해당 구 데이터 개수가 일치하는지 파이썬을 통해 확인한 후(제대로 삭제했는지 확인하는 과정), 직접 삭제한 데이터를 csv 파일로 구글 드라이브에 업로드함. 이후 새로 올린 데이터에 있는 제대로 된 사고번호 데이터를 기존 accident 데이터에 덮어씌움

In [124]:
#해당 구 개수 확인 (구글미트로 회의하면서 실시간으로 확인)
len(accident[accident['구']=='서대문구'].index)

39

In [125]:
#직접 전처리한 데이터 행정구역별로 불러오기
new = pd.read_csv('/content/drive/MyDrive/거북R/데멘토/Data/행정구역별/accidentInfoList-서대문구 지운거.csv',encoding='cp949')

In [126]:
#새로 불러온 데이터가 기존의 accident 데이터와 일치하는지 2차로 확인
len(new)

39

In [127]:
#맨 뒷자리가 0으로 바뀌지 않았는지 확인
new['사고번호']

0     2017012600100138
1     2017021700100434
2     2017021800100245
3     2017031500100315
4     2017041400100370
5     2017042400100361
6     2017050900100447
7     2017051600100089
8     2017052300100414
9     2017052700100396
10    2017080100100198
11    2017082200100376
12    2017101700100434
13    2017112300100489
14    2018021800100221
15    2018033100100359
16    2018041000100354
17    2018052400100092
18    2018061100100085
19    2018080600100421
20    2018081200100338
21    2018121100100347
22    2018121200100412
23    2018121300100393
24    2018123100100479
25    2019012800100139
26    2019031100100414
27    2019050500100402
28    2019060500100476
29    2019061300100386
30    2019070800100392
31    2019071500100275
32    2019071500100325
33    2019082900100506
34    2019083000100457
35    2019091800100435
36    2019092000100449
37    2019092300100486
38    2019122300100430
Name: 사고번호, dtype: int64

In [94]:
#해당 구가 기존 accident 데이터에서 어느 행에 있는지 (어디로 덮어씌울지) 확인
accident[accident['구']=='서대문구'].index

Int64Index([1093, 1094, 1095, 1096, 1097, 1098, 1099, 1100, 1101, 1102, 1103,
            1104, 1105, 1106, 1107, 1108, 1109, 1110, 1111, 1112, 1113, 1114,
            1115, 1116, 1117, 1118, 1119, 1120, 1121, 1122, 1123, 1124, 1125,
            1126, 1127, 1128, 1129, 1130, 1131],
           dtype='int64')

In [95]:
#행정구역별 데이터 index 범위 위에서의 코드로 확인해서 재설정하고 새로 불러온 데이터로 덮어씌우기
for i in range(1093,1132): #첫 index부터 마지막 index까지
  accident['사고번호'][i] = new['사고번호'][i-1093] #i - 첫 index (new 데이터는 0부터 시작하므로)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [96]:
#제대로 입력되었는지 확인
accident['사고번호'][1093:1132]

1093    2017012600100138
1094    2017021700100434
1095    2017021800100245
1096    2017031500100315
1097    2017041400100370
1098    2017042400100361
1099    2017050900100447
1100    2017051600100089
1101    2017052300100414
1102    2017052700100396
1103    2017080100100198
1104    2017082200100376
1105    2017101700100434
1106    2017112300100489
1107    2018021800100221
1108    2018033100100359
1109    2018041000100354
1110    2018052400100092
1111    2018061100100085
1112    2018080600100421
1113    2018081200100338
1114    2018121100100347
1115    2018121200100412
1116    2018121300100393
1117    2018123100100479
1118    2019012800100139
1119    2019031100100414
1120    2019050500100402
1121    2019060500100476
1122    2019061300100386
1123    2019070800100392
1124    2019071500100275
1125    2019071500100325
1126    2019082900100506
1127    2019083000100457
1128    2019091800100435
1129    2019092000100449
1130    2019092300100486
1131    2019122300100430
Name: 사고번호, dtype: object

In [129]:
#최종 데이터 txt 파일로 저장
accident.to_csv('accident_final.txt',index=False)

어린이 보호구역 내 교통사고 데이터도 csv로 사용하면 안되겠다 싶어서 얘도 txt 파일로 저장

In [98]:
#전처리 끝낸 최종 어린이 보호구역 내 교통사고 데이터 txt 파일로 저장
child.to_csv('accident_child.txt',index=False)

# 서울시 어린이 교통사고 데이터 최종 전처리

- 임시로 만든 사고연, 사고월, 사고일, 연도확인, 월확인, 일확인 칼럼을 삭제 안한 것을 발견하고 삭제함

In [136]:
accident = pd.read_table('/content/drive/MyDrive/거북R/데멘토/Data/accident_final.txt',sep=',')

In [137]:
#데이터 확인
accident.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1670 entries, 0 to 1669
Data columns (total 35 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   사고번호        1670 non-null   int64
 1   사고일시        1670 non-null   object
 2   연           1670 non-null   int64
 3   월           1670 non-null   int64
 4   일           1670 non-null   int64
 5   시           1670 non-null   int64
 6   요일          1670 non-null   object
 7   구           1670 non-null   object
 8   동           1670 non-null   object
 9   위도          1670 non-null   float64
 10  경도          1670 non-null   float64
 11  사고내용        1670 non-null   int64
 12  사망자수        1670 non-null   int64
 13  중상자수        1670 non-null   int64
 14  경상자수        1670 non-null   int64
 15  부상신고자수      1670 non-null   int64
 16  사고유형        1670 non-null   object
 17  법규위반        1670 non-null   object
 18  노면상태        1670 non-null   object
 19  기상상태        1670 non-null   object
 20  도로형태        1670 non-null   object
 21  도로상세        1670 non-null   object
 22  가해운전자 성별    1670 non-null   object
 23  가해운전자 연령    1670 non-null   int64
 24  가해운전자 상해정도  1670 non-null   object
 25  피해운전자 성별    1670 non-null   object
 26  피해운전자 연령    1670 non-null   int64
 27  피해운전자 상해정도  1670 non-null   object
 28  어린이 보호구역    1670 non-null   int64
 29  사고연         1670 non-null   int64
 30  사고월         1670 non-null   int64
 31  사고일         1670 non-null   int64
 32  연도확인        1670 non-null   int64
 33  월확인         1670 non-null   int64
 34  일확인         1670 non-null   int64
dtypes: float64(2), int64(19), object(14)
memory usage: 456.8+ KB

In [138]:
#임시로 만들었던 사고연, 사고월, 사고일, 연도확인, 월확인, 일확인 칼럼 삭제
accident.drop({'사고연','사고월','사고일','연도확인','월확인','일확인'}, axis=1, inplace=True)

In [139]:
#삭제되었는지 확인
accident.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1670 entries, 0 to 1669
Data columns (total 29 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   사고번호        1670 non-null   int64
 1   사고일시        1670 non-null   object
 2   연           1670 non-null   int64
 3   월           1670 non-null   int64
 4   일           1670 non-null   int64
 5   시           1670 non-null   int64
 6   요일          1670 non-null   object
 7   구           1670 non-null   object
 8   동           1670 non-null   object
 9   위도          1670 non-null   float64
 10  경도          1670 non-null   float64
 11  사고내용        1670 non-null   int64
 12  사망자수        1670 non-null   int64
 13  중상자수        1670 non-null   int64
 14  경상자수        1670 non-null   int64
 15  부상신고자수      1670 non-null   int64
 16  사고유형        1670 non-null   object
 17  법규위반        1670 non-null   object
 18  노면상태        1670 non-null   object
 19  기상상태        1670 non-null   object
 20  도로형태        1670 non-null   object
 21  도로상세        1670 non-null   object
 22  가해운전자 성별    1670 non-null   object
 23  가해운전자 연령    1670 non-null   int64
 24  가해운전자 상해정도  1670 non-null   object
 25  피해운전자 성별    1670 non-null   object
 26  피해운전자 연령    1670 non-null   int64
 27  피해운전자 상해정도  1670 non-null   object
 28  어린이 보호구역    1670 non-null   int64
dtypes: float64(2), int64(13), object(14)
memory usage: 378.5+ KB

- 가해운전자 차종이 삭제된 것을 발견하고 가해운전자 차종을 위에서 사고번호를 넣은 코드를 조금 더 발전시켜서 넣기로 결정

In [140]:
accident['구'].unique()

array(['관악구', '서초구', '송파구', '강남구', '강동구', '강북구', '강서구', '광진구', '구로구',
       '금천구', '노원구', '도봉구', '동대문구', '동작구', '마포구', '서대문구', '성동구', '성북구',
       '양천구', '영등포구', '용산구', '은평구', '종로구', '중구', '중랑구'], dtype=object)

In [141]:
area = list(accident['구'].unique())
area

['관악구',
 '서초구',
 '송파구',
 '강남구',
 '강동구',
 '강북구',
 '강서구',
 '광진구',
 '구로구',
 '금천구',
 '노원구',
 '도봉구',
 '동대문구',
 '동작구',
 '마포구',
 '서대문구',
 '성동구',
 '성북구',
 '양천구',
 '영등포구',
 '용산구',
 '은평구',
 '종로구',
 '중구',
 '중랑구']

In [142]:
#가해운전자 차종 칼럼 만들고 0으로 초기화
accident.insert(22,'가해운전자 차종',0)

In [143]:
#초기화 확인
accident['가해운전자 차종']

0       0
1       0
2       0
3       0
4       0
       ..
1665    0
1666    0
1667    0
1668    0
1669    0
Name: 가해운전자 차종, Length: 1670, dtype: int64

In [144]:
#모든 행정구역의 가해운전자 차종 데이터 넣기
for i in range(len(area)):
  address = '/content/drive/MyDrive/거북R/데멘토/Data/행정구역별/accidentInfoList-' + area[i] + ' 지운거.csv'
  new = pd.read_csv(address,encoding='cp949')
  index = accident[accident['구']==area[i]].index #accident 데이터에서 각 행정구역의 데이터 index
  if len(new) == len(index):
    for i in range(min(index),max(index)+1): #첫 index부터 마지막 index까지
      accident['가해운전자 차종'][i] = new['가해운전자 차종'][i-min(index)]

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.7/dist-packages/pandas/core/indexing.py:1732: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_block(indexer, value, name)

In [145]:
accident.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1670 entries, 0 to 1669
Data columns (total 30 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   사고번호        1670 non-null   int64
 1   사고일시        1670 non-null   object
 2   연           1670 non-null   int64
 3   월           1670 non-null   int64
 4   일           1670 non-null   int64
 5   시           1670 non-null   int64
 6   요일          1670 non-null   object
 7   구           1670 non-null   object
 8   동           1670 non-null   object
 9   위도          1670 non-null   float64
 10  경도          1670 non-null   float64
 11  사고내용        1670 non-null   int64
 12  사망자수        1670 non-null   int64
 13  중상자수        1670 non-null   int64
 14  경상자수        1670 non-null   int64
 15  부상신고자수      1670 non-null   int64
 16  사고유형        1670 non-null   object
 17  법규위반        1670 non-null   object
 18  노면상태        1670 non-null   object
 19  기상상태        1670 non-null   object
 20  도로형태        1670 non-null   object
 21  도로상세        1670 non-null   object
 22  가해운전자 차종    1670 non-null   object
 23  가해운전자 성별    1670 non-null   object
 24  가해운전자 연령    1670 non-null   int64
 25  가해운전자 상해정도  1670 non-null   object
 26  피해운전자 성별    1670 non-null   object
 27  피해운전자 연령    1670 non-null   int64
 28  피해운전자 상해정도  1670 non-null   object
 29  어린이 보호구역    1670 non-null   int64
dtypes: float64(2), int64(13), object(15)
memory usage: 391.5+ KB

In [146]:
#값 입력되었는지 확인
accident['가해운전자 차종']

0        승용
1        승용
2        승용
3       원동기
4        이륜
       ...
1665     이륜
1666     이륜
1667     승용
1668     화물
1669     화물
Name: 가해운전자 차종, Length: 1670, dtype: object

In [147]:
#최종 데이터 txt 파일로 저장
accident.to_csv('accident.txt', index=False)