In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
import sys
sys.path.append('/content/drive/MyDrive/거북R/데멘토/Data/') # 디렉토리 경로
import config

In [3]:
import pandas as pd
accident = pd.read_table('/content/drive/MyDrive/거북R/데멘토/Data/accident_total.txt',sep=',')
accident.head()

,사고번호,사고일시,연,월,일,시,요일,구,동,위도,...,도로상세,가해운전자 차종,가해운전자 성별,가해운전자 연령,가해운전자 상해정도,피해운전자 차종,피해운전자 성별,피해운전자 연령,피해운전자 상해정도,어린이 보호구역
0,2017010400100442,2017년 1월 4일 19시,2017,1,4,19,수요일,관악구,신림동,37.489043,...,교차로부근,승용,남,57,상해없음,보행자,남,8,경상,0
1,2017011800100269,2017년 1월 18일 13시,2017,1,18,13,수요일,관악구,신림동,37.474462,...,교차로안,승용,남,59,상해없음,보행자,남,8,중상,0
2,2017030300100282,2017년 3월 3일 13시,2017,3,3,13,금요일,관악구,봉천동,37.489205,...,교차로횡단보도내,승용,여,41,상해없음,보행자,남,7,경상,1
3,2017041700100352,2017년 4월 17일 16시,2017,4,17,16,월요일,관악구,신림동,37.489029,...,교차로횡단보도내,원동기,남,59,부상신고,보행자,남,6,경상,0
4,2017041700100451,2017년 4월 17일 19시,2017,4,17,19,월요일,관악구,신림동,37.482574,...,교차로안,이륜,남,52,상해없음,보행자,남,9,부상신고,0

In [4]:
import requests
import json
import pandas as pd
import numpy as np
from pandas.io.json import json_normalize
import os
import webbrowser

from folium import plugins

In [5]:
school_200 = pd.read_csv('/content/drive/MyDrive/거북R/데멘토/Data/school_map_200.csv')
school_200.head()

,이름,상세주소,위도,경도,유형,구,동,반경_200m_이내_사고건수,2017년_사고,2018년_사고,2019년_사고,색상,최다_사고발생_연도
0,서울정심초등학교병설유치원,서울특별시 금천구 독산로78다길 89,37.471994,126.908214,유치원,금천구,독산동,0,0,0,0,#b8f37a,NaN
1,란키즈유치원,서울특별시 송파구 새말로8길 22-5,37.480767,127.126289,유치원,송파구,문정동,2,1,0,1,#fecc5c,"2017, 2019"
2,다우림유치원,서울특별시 은평구 증산로21길 22,37.596225,126.912319,유치원,은평구,신사동,1,1,0,0,#ffffb2,2017
3,서울상계초등학교병설유치원,서울특별시 노원구 상계로9길 39,37.659625,127.066495,유치원,노원구,상계동,2,2,0,0,#fecc5c,2017
4,서울신구유치원,서울특별시 강남구 압구정로18길 28,37.523361,127.023992,유치원,강남구,신사동,0,0,0,0,#b8f37a,NaN

In [6]:
accident_feature = pd.read_csv('/content/drive/MyDrive/거북R/데멘토/Data/accident_feature.csv')
accident_feature = accident_feature.iloc[1:,:]
accident_feature.head()

,행정구역,경도,위도,면적,어린이교통사고_건수,총인구수,어린이인구수,어린이보호구역_개수,어린이보호구역_cctv_개수,학교수,어린이공원_개수,버스_승객수,지하철_승객수,대중교통_승객수,차량등록대수,지역내총생산,교과학원분야_평균소비인구
1,종로구,126.9766,37.5959,23.91,24,153065,10721,49,39,73,24,155034058,244671896,399705954,50186,31868698,29.160920
2,중구,126.9960,37.5609,9.96,17,125725,9026,40,75,67,16,106992715,389085783,496078498,51703,54274488,26.428571
3,용산구,126.9790,37.5324,21.87,34,228999,17783,36,164,109,23,115086407,135152066,250238473,77140,12300317,24.000000
4,성동구,127.0406,37.5517,16.86,42,308221,27417,52,571,160,32,81060373,133165594,214225967,105421,11657151,80.734491
5,광진구,127.0853,37.5474,17.06,79,355559,28356,80,301,1031,35,79079290,161354541,240433831,99760,6342279,32.574007

In [7]:
roadview = pd.read_excel('/content/drive/MyDrive/거북R/데멘토/Data/로드뷰/로드뷰 사고이전.xlsx', sheet_name='시트1')
roadview = roadview.astype({'사고번호':'int'})
roadview.head()

               사고번호
0  2019090900100552
1  2018031400100441
2  2017033100100399
3  2017091800100296
4  2017110500100188

In [8]:
accident['사고다발지역'] = '#3288bd'
for i in range(len(accident)):
  if accident.iloc[i,0] in list(roadview['사고번호']):
    accident['사고다발지역'][i] = '#6541AF'

accident.head()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

,사고번호,사고일시,연,월,일,시,요일,구,동,위도,...,가해운전자 차종,가해운전자 성별,가해운전자 연령,가해운전자 상해정도,피해운전자 차종,피해운전자 성별,피해운전자 연령,피해운전자 상해정도,어린이 보호구역,사고다발지역
0,2017010400100442,2017년 1월 4일 19시,2017,1,4,19,수요일,관악구,신림동,37.489043,...,승용,남,57,상해없음,보행자,남,8,경상,0,#3288bd
1,2017011800100269,2017년 1월 18일 13시,2017,1,18,13,수요일,관악구,신림동,37.474462,...,승용,남,59,상해없음,보행자,남,8,중상,0,#3288bd
2,2017030300100282,2017년 3월 3일 13시,2017,3,3,13,금요일,관악구,봉천동,37.489205,...,승용,여,41,상해없음,보행자,남,7,경상,1,#3288bd
3,2017041700100352,2017년 4월 17일 16시,2017,4,17,16,월요일,관악구,신림동,37.489029,...,원동기,남,59,부상신고,보행자,남,6,경상,0,#3288bd
4,2017041700100451,2017년 4월 17일 19시,2017,4,17,19,월요일,관악구,신림동,37.482574,...,이륜,남,52,상해없음,보행자,남,9,부상신고,0,#3288bd

In [9]:
school_200['색상'] = school_200['반경_200m_이내_사고건수'].map({0:'#8BC34A', 1:'#F6DA62', 2:'#F4B757', 3:'#F3734C', 4:'#F13D36',5:'#D61E29', 6:'#D61E29'})

In [14]:
school_elementary = school_200[school_200['유형'] == '초등학교']

## 초등학교

In [15]:
import folium
from config import vworld_key
from folium.features import DivIcon

vworld_key="46DE2FDE-2289-3DAD-8A3C-F06F84FEF256"

elementary_map = folium.Map(location=[37.55,126.98], zoom_start=12) #[위도,경도] 입력 후 확대 비율 설정

korea = '/content/drive/MyDrive/거북R/데멘토/Data/korea_map.json'
elementary_map.choropleth(geo_data=korea,fill_color='grey',fill_opacity=0.5,line_color='grey',line_opacity=0.1)

state_geo = '/content/drive/MyDrive/거북R/데멘토/Data/seoul_map.json'
elementary_map.choropleth(geo_data=state_geo,line_color='grey',line_weight=8,fill_color='grey',fill_opacity=0.1,Highlight = True, show = False,overlay = True)


#vworld key: 46DE2FDE-2289-3DAD-8A3C-F06F84FEF256

#배경지도 타일 설정하기
layer = "Base"
tileType = "png"
tiles = f"http://api.vworld.kr/req/wmts/1.0.0/{vworld_key}/{layer}/{{z}}/{{y}}/{{x}}.{tileType}"
attr = "Vworld"

folium.TileLayer(
    tiles=tiles,
    attr=attr,
    overlay=True,
    control=True
).add_to(elementary_map)

for lat, lng, name, color, num, year in zip(school_elementary.위도, school_elementary.경도, school_elementary.이름, school_elementary.색상, school_elementary.반경_200m_이내_사고건수, school_elementary.최다_사고발생_연도):
    folium.Circle([lat,lng], radius=200, color=color, fill=True, fill_color=color, fill_opacity=0.9, 
                  popup=folium.Popup('<div style="font-size:10pt; font-weight:bold;">%s</div>' %('학교이름: '+str(name) +',<br>반경 200m 이내의 사고 건수: '+str(num)+'건,<br>최다 사고발생 연도: '+str(year)+'년'), max_width=250)).add_to(elementary_map)

for lat, lng, num, color in zip(accident.위도, accident.경도, accident.사고번호, accident.사고다발지역): 
    folium.Circle([lat,lng], radius=10, color=color, fill=True, fill_color=color, fill_opacity=1, 
                  popup=folium.Popup('<div style="font-size:10pt; font-weight:bold;">%s</div>' %('위도: '+str(lat)+',<br>경도: '+str(lng)+',<br>사고번호: '+str(num)), max_width=200)).add_to(elementary_map)

for name, lat, lng in zip(accident_feature['행정구역'], accident_feature['위도'], accident_feature['경도']):
  folium.map.Marker(
      [lat, lng],
      icon = DivIcon(
          icon_size=(0,0),
          icon_anchor=(10,40),
          html='<div style="font-size:13pt; color:white; font-weight:bold; writing-mode: horizontal-tb; position:absolute; text-shadow: -2px 0 dimgrey, 0 2px dimgrey, 2px 0 dimgrey, 0 -2px dimgrey;">%s</div>' % name)).add_to(elementary_map)

elementary_map

Output hidden; open in https://colab.research.google.com to view.